#grid-container{
    display: grid;
    height: 400px;
    width: 400px;
    justify-content: start;
    grid-template-rows: repeat(16, 25px);
    grid-template-columns: repeat(16, 25px);
    /* grid-auto-rows: 16px;
    grid-auto-columns: 16px; */
    background-color: green;
    padding: 100px;
}

.grid-slot{
    /* display: flex; */
    /* border-style: solid; */
    width: 25px;
    height: 25px;
    background-color: skyblue;
    display: inline-grid;
    align-content: center;
    text-align: center;
}

.hovered{
    background-color: black;
}

